module General
  UID = 'doord'
  GID = 'doord'
  MODE = 0660
  LOG = Logger.new STDERR
  LOG.level = Logger::DEBUG
  DOOR_SOCKET = 'var/doord.sock'
end
module GPIO
  LOCK = 31
  UNLOCK = 30
  LOCKED = 48
  UNLOCKED = 60
  OPENED = 51
end
module Simulator
  OPEN_TOGGLE_DELAY = 5
  BOUNCE_COUNT = 5
  BOUNCE_DUR = 2
end
