[Unit]
Description=Door Daemon
Requires=doord-export.service
After=doord-export.service

[Service]
User=doord
Group=doord
ExecStart=/PATH/TO/bin/doord run
Restart=always

[Install]
WantedBy=multi-user.target
